/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.navbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Title Section */
.title {
    text-align: center;
    padding: 40px 20px;
}

.title h1 {
    font-size: 2.5rem;
    color: #0056b3;
}

.title h2 {
    font-size: 1.5rem;
    color: #007BFF
}

/* Main Form Container */
.container {
    width: 50%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.description {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}


label {
    font-size: 1em;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

input[type="number"]:focus {
    border-color: #007BFF;
    outline: none;
}

.submit-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    width: 80%;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.result-container {
    text-align: center;
}

.result-box {
    margin: 20px 0;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 8px;
}

.explanation {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
}